<!-- Schedule -->
<section class="page-section" id="{{ site.data.sitetext.schedule.section | default: schedule }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.schedule.title | markdownify | default: Schedule }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.schedule.text | default: schedule}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <ul class="schedule">
		  {%- for day in site.data.sitetext.schedule.days -%}
            <li>
              <h4>{{ day.name }}:</h3>
              <ul>
              {%- for event in day.events -%}
                <li>
                  {{ event.start }} ({{ event.duration }}): {{ event.title }}
		              registration: <a href="{{ event.registration }}" target="_blank">{{ event.registration }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
		  {% endfor %}	
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- End About -->
