<!-- Schedule -->
<section class="page-section" id="{{ site.data.sitetext.schedule.section | default: schedule }}">
  <div class="container schedule">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.schedule.title | markdownify | default: Schedule }}</h2>
      </div>
    </div>
    {%- for day in site.data.sitetext.schedule.days -%}
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="day-heading col-md-12 text-center">
            <h4>{{ day.name }}</h4>
          </div>
        </div>
        {%- for event in day.events -%}
        <div class="row">
          <div class="col-md-2">
            {{ event.starttime | date: "%H:%M" }} -
            {{ event.endtime | date: "%H:%M" }} AEST
          </div>
          <div class="col-md-2">
            {{ event.starttime | date: "%s" | plus: 60 | date: "%H:%M" }} -
            {{ event.endtime | date: "%s" | plus: 60 | date: "%H:%M" }} AEDT
          </div>
          <div class="col-md-2">
            {{ event.starttime | date: "%s" |plus: -120 | date: "%H:%M" }} -
            {{ event.endtime | date: "%s" | plus: -120 | date: "%H:%M" }} AWST
          </div>
          <div class="col-md-6">
            {{ event.title }}
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-md-12 text-center">
            + All day project hacking!
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- End About -->
