 <!-- Portfolio Modals -->
 {% for venue in site.data.venues %}
 <div class="portfolio-modal modal venue-modal" id="{{ venue.name }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content venue-focus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">          
                    <div class="modal-body">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                        <h2>{{ venue.title }}</h2>
                        <img src="assets/img/venues/{{ venue.img }}" class="img-responsive img-centered" alt="{{ venue.alt }}">
                        <h3>{{ venue.city}}</h3>
                        <h6>{{ venue.people }}</h6>
                        <p>{{ venue.description }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="portfolio-modal modal fade" id="{{ venue.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ venue.title }}</h2>
                            <hr class="star-primary">
                            <img src="assets/img/venues/{{ venue.img }}" class="img-responsive img-centered" alt="{{ venue.alt }}">
                            <h3>People: {{ venue.people }}</h3>
                            <p>{{ venue.description }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
{% endfor %}
