---
layout: default
---
{% include navheader.html %}

{% include about.html %}

<section id="first" class="main">
    <header>
        <div class="container">
            <h2>Brainhack Global</h2>
            <p>The Brainhack DC 2020 is an official satellite event of the <a href="https://brainhack.org/global2020/" target="_blank">International Brainhack Global</a>. The goal of the hackathon is to bring together researchers with diverse backgrounds to collaborate on science projects in neuroimaging.</p>
            <p>Participants are encouraged to post project ideas to <a href="https://brainhack.org/global2020/projects/" target="_blank">the official Brainhack Project Gallery</a> and to submit a report describing their project as a conference paper to the <a href="https://brainhack-proceedings.github.io/about/">2020 Brainhack Proceedings</a> after the event.</p>
            <p>All participants should read and adhere to the <a href="https://brainhack.org/code-of-conduct" target="_blank">Brainhack Code of Conduct</a>.</p>
            <p>
            <h2>Schedule</h2>
            <p>(Training sessions are <b style="color:black">bolded in black</b>)</p>
                <div class="table-wrapper">
                    <table class="default">
                        <caption><b>Optional: Friday (December 11, 2020), Eastern Time</b></caption>
                        <tbody>
                            <tr>
                                <td>10:30am-12:00pm</td>
                                <td><b style="color:black">Working with Git & GitHub</b> [<a href="https://brainhack-ny.github.io/" target="_blank">Brainhack NY</a>]</td>
                            </tr>
                            <tr>
                                <td>1:00pm-2:00pm</td>
                                <td><b style="color:black">Machine Learning in Neuroimaging</b> [<a href="https://brainhack-ny.github.io/" target="_blank">Brainhack NY</a>]</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="default">
                        <caption><b>Saturday (December 12, 2020), Eastern Time</b></caption>
                        <tbody>
                            <tr>
                                <td>9:00am-9:45am</td>
                                <td><b>Intro to Brainhacks</b> by Junaid Merchant (UMD) and Shawn Rhoads (GU)</td>
                            </tr>
                            <tr>
                                <td>9:45am-10:00am</td>
                                <td><b><a href="https://www.cell.com/neuron/libraries/neuroviews" target="_blank">NeuroView</a> on Brainhacks</b> by Liza Levitis (NIMH/UCL)</td>
                            </tr>
                            <tr>
                                <td>10:00am-10:15am</td>
                                <td><b><a href="https://brainhack-proceedings.github.io/" target="_blank">Brainhack Proceedings</a></b>: An open & free journal for Brainhack project outcomes</td>
                            </tr>
                            <tr>
                                <td>10:15am-10:30am</td>
                                <td>Coffee/social break</td>
                            </tr>
                            
                            <tr>
                                <td>10:30am-11:30am</td>
                                <td>Project pitches</td>
                            </tr>
                            <tr>
                                <td>11:30am-1:00pm</td>
                                <td>Project meetings || Open hacking</td>
                            </tr>
                            <tr>
                                <td>1:00pm-2:00pm</td>
                                <td>Lunch/social break</td>
                            </tr>
                            <tr>
                                <td>2:00pm-3:00pm</td>
                                <td><b style="color:black">Intro to Preregistration in Neuroimaging</b> (presentation and unconference) by Junaid Merchant (UMD) and Marissa Laws (GU)</td>
                            </tr>
                            <tr>
                                <td>3:00pm-4:00pm</td>
                                <td>Open hacking</td>
                            </tr>
                            <tr>
                                <td>4:00pm-4:30pm</td>
                                <td>Coffee/social break</td>
                            </tr>
                            <tr>
                                <td>4:30pm-6:00pm</td>
                                <td>Open hacking</td>
                            </tr>
                            <tr>
                                <td>6:00pm-7:00pm</td>
                                <td>Social hour</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="default">
                        <caption><b>Sunday (December 13, 2020), Eastern Time</b></caption>
                        <tbody>
                            <tr>
                                <td>9:30am-10:30am</td>
                                <td><b style="color:black">Intro to BIDS and fMRIPrep</b> by Shawn Rhoads (GU) and Dr. Oliver Xie (UMD)</td>
                            </tr>
                            <tr>
                                <td>10:30am-12:30pm</td>
                                <td>Open hacking || <b style="color:black">Reproducible Practices with <a href="https://www.datalad.org/" target="_blank">DataLad</a></b> (11am-12pm) [<a href="https://brainhack-ny.github.io/" target="_blank">Brainhack NY</a>]</td>
                            </tr>
                            <tr>
                                <td>12:30pm-1:30pm</td>
                                <td>Lunch/social break</td>
                            </tr>
                            <tr>
                                <td>1:30pm-2:30pm</td>
                                <td><b style="color:black">Introduction to R</b> by Joscelin Rocha-Hidalgo (GU)</td>
                            </tr>
                            <tr>
                                <td>2:30pm-5:00pm</td>
                                <td>Open hacking || <b style="color:black">Data Visualization with <a href="https://plotly.com/dash/" target="_blank">Plotly Express & Dash</a></b> (2:30pm-3:30pm) [<a href="https://brainhack-ny.github.io/" target="_blank">Brainhack NY</a>]</td>
                            </tr>
                            <tr>
                                <td>5:00pm-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>Project presentations</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </header>
    <div class="content dark">
        <div class="container">
            <div class="row" style="text-align:center">
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><span class="icon solid fa-laptop-code"></span></span>
                        <header>
                            <h3>Contribute</h3>
                        </header>
                        <p style="text-align:center">Find exciting projects that you would like to contribute to.</p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><span class="icon solid fa-university"></span></span>
                        <header>
                            <h3>Learn</h3>
                        </header>
                        <p style="text-align:center">Learn how to apply the latest neuroimaging tools to you data.</p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                        <span class="feature-icon"><span class="icon solid fa-user-friends"></span></span>
                        <header>
                            <h3>Socialize</h3>
                        </header>
                        <p style="text-align:center">Meet researchers from a variety of backgrounds.</p>
                    </section>
                </div>
                <div class="col-12">
                    <footer>
                        <a href="https://brainhack.org/global2020/projects/" class="button scrolly" target="_blank">Submit your project idea here</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>


{% include team.html %}

