
table {
    width: 100%;

    &.default {
        width: 100%;
        border-collapse: collapse;

        tbody {
            tr {
                border: solid 1px #e6e6e6;

                &:nth-child(2n+2) {
                    background: #f8f8f8;
                }
            }
        }

        td {
            padding: 0.5em 1em 0.5em 1em;
        }

        th {
            text-align: left;
            padding: 0.5em 1em 1em 1em;
        }

        tfoot {
            td {
                padding-top: 1em;
            }
        }
    }
}

.row {
    @include html-grid((50px, 50px));

    @include breakpoint('<=wide') {
        @include html-grid((40px, 40px), 'wide');
    }

    @include breakpoint('<=normal') {
        @include html-grid((30px, 30px), 'normal');
    }

    @include breakpoint('<=narrow') {
        @include html-grid((25px, 25px), 'narrow');
    }

    @include breakpoint('<=mobile') {
        @include html-grid((20px, 20px), 'mobile');
    }
}

.dark {
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: inset 0 0 0 1px #fff;
        color: #fff;

        &:hover {
            background: rgba(255, 255, 255, 0.25);
        }

        &.alt {
            background: none;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);

            &:hover {
                background: rgba(255, 255, 255, 0.15);
                box-shadow: inset 0 0 0 1px #fff;
            }
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1360px;
  
    &.medium {
      width: (1360px * 0.75);
    }
  
    @include breakpoint('<=wide') {
      width: 1200px;
  
      &.medium {
        width: (1200px * 0.75);
      }
    }
  
    @include breakpoint('<=normal') {
      width: 960px;
  
      &.medium {
        width: (960px * 0.75);
      }
    }
  
    @include breakpoint('<=narrow') {
      width: 100% !important;
    }
  }
  
  .content {
    padding: 6em 0 6em 0;
  
    h3 {
      font-size: 1.5em;
    }
  
    &.dark {
      background: #433;
    }
  
    &.style1 {
      background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
    }
  
    &.style2 {
      background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #384955, #655361, #85505f);
    }
  
    &.style3 {
      background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
    }
  
    &.style4 {
      padding-top: 0;
      background: #fff;
    }
  }