
#venues .venues-item {
    right: 0;
    margin: 0 0 15px;
}

#venues .venues-item .venues-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#venues .venues-item .venues-link .venues-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: gold;
}

#venues .venues-item .venues-link .venues-hover:hover {
    opacity: 1;
}

#venues .venues-item .venues-link .venues-hover .venues-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 120%;
    color: #444;
}

#venues .venues-item .venues-link .venues-hover .venues-hover-content i {
    margin-top: -12px;
}

#venues .venues-item .venues-link .venues-hover .venues-hover-content h3,
#venues .venues-item .venues-link .venues-hover .venues-hover-content h4 {
    margin: 0;
}

#venues .venues-item .venues-caption {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 5px;
    max-width: 400px;
    min-height: 100px;
    text-align: center;
    background-color: #444;
}

#venues .venues-item .venues-caption h4 {
    margin: 0;
    text-transform: none;
}

/*
#venues .venues-item .venues-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 100%;
    font-style: italic;
}
*/

#venues * {
    z-index: 2;
}

@media(min-width:767px) {
    #venues .venues-item {
        margin: 0 0 30px;
    }
}


.venues {
    padding: 5%;
    margin: 100px 15vw 60px 15vw;
    img {
        width: 100%;
    }
    a {
        color: darkblue;
    }
    h1 {
        margin: 0;
    }
    h1, h2, h3, ol, p {
        color: black; 
        text-align: left;
    }
    p, ol {
        font-size: 110%;
    }
    h1 {
        text-shadow: 2px 2px black;
        background-color: gold;
        color: white;
        padding: 5px 5px 5px 10px;
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        width: 90%;
    }
    .venue-profile {
        img {
            border-radius: 50%;
            max-width: 300px;
            float: left;
            overflow: hidden;
            margin-right: 25px;
            margin-bottom: 10px;
        }
        a {
            color: rgb(255, 221, 30);
        }
        ul {
            padding-left: 350px;
        }
        ul, li, ol {
            font-size: 110%;
        }
    }
}

.venue-modal {
    background-color: #000;
}

.venue-focus {
    background-color: #000;
    width: 75%;
}

@media screen and (max-width : 1200px){
  .venues {
      margin: 100px 15vw 60px 15vw;
  }
}

@media screen and (max-width:760px){
    .venues {
        margin: 50px 10px 10px 10px;
        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .venue-profile {
            img {
                display: block;
                margin: auto;
                float: none;
            }
            ul {
                padding-left: 20px;
            }
        }
        .title {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    h1 {
        font-size: 130%;
    }
    h2 {
        font-size: 120%;
    }
    p, ol, li {
        font-size: 100%;
    }
}