// Global styling for this template
body {
  background-color: black;
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: lightgray;
  font-weight: 600;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1360px;

  &.medium {
    width: (1360px * 0.75);
  }

  @include breakpoint('<=wide') {
    width: 1200px;

    &.medium {
      width: (1200px * 0.75);
    }
  }

  @include breakpoint('<=normal') {
    width: 960px;

    &.medium {
      width: (960px * 0.75);
    }
  }

  @include breakpoint('<=narrow') {
    width: 100% !important;
  }
}

.content {
  padding: 6em 0 6em 0;

  h3 {
    font-size: 1.5em;
  }

  &.dark {
    background: #433;
  }

  &.style1 {
    background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
  }

  &.style2 {
    background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #384955, #655361, #85505f);
  }

  &.style3 {
    background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
  }

  &.style4 {
    padding-top: 0;
    background: #fff;
  }
}